name: Build and Test

on:
  push:
  pull_request_target:

jobs:
  build-and-test-ls:
    name: Build and Test Language Server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: clippy, rustfmt

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: fmt
        run: cargo fmt --all --check

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Build and Test
        run: |
          cargo build
          cargo test

  build-and-test-extension:
    name: Build and Test Extension
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          cache-dependency-path: client/yarn.lock
          node-version: 18

      - name: Build and Test
        run: |
          yarn install
          yarn vsce package

      - name: Archive vscode packaged extension
        uses: actions/upload-artifact@v3
        with:
          name: solidity-analyzer-vscode-extension
          path: client/solidity-analyzer-*.vsix
